


        <div class="dona" style="height: 65px; width: 210px; ">
          <h1>32</h1>
          <canvas baseChart
            [data]="doughnutChartData"
            [legend]="false"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColors"
            [options]="doughnutChartOptions"

           ></canvas>
        </div>

    <table>
      <tr>
       <th>Ciclo:</th>
       <td> 3 | 88 | SS</td>
      </tr>
      <tr>
       <th>Reparto:</th>
       <td> 4 | SS</td>
      </tr>
      <tr>
       <th>Desfase:</th>
       <td> 3 | F1, 123 | SS</td>
      </tr>
      </table>





