
table {
  position: relative;
  right: -183px;
  bottom: 93px;
  color: #142052;
  font-family: 'Open Sans';
  font-size: 11px;
}
th {
  text-align: justify;
  font-weight: lighter;
}

td {
  text-align: left;
  font-weight: 600;
}


.dona {
  position: relative;
  right: 20px;
  bottom: 69px;
}

h1 {
  font-size: 15px;
  font-weight: 600;
  font-family: 'Open Sans';
  color: #142052;
  z-index: 2;
  position: absolute;
  left: 96px;
  top: 51px;
}
