<nb-card-body>
  <nb-button-group ghost size="medium" class="botones">
    <button nbButtonToggle><nb-icon class="edit" icon="edit-outline"></nb-icon></button>
    <button nbButtonToggle><nb-icon class="circle" icon="plus-circle-outline"></nb-icon></button>

  </nb-button-group>

  <tr>
    <td>


  <div class="title">

    <b><h2>1NOR-4PON</h2></b>
  </div>

  <ul class="two-column2">
    <div class="menu">
  <div class="name">
  <b> <h3>ESTADO</h3> </b>
    <span>Sistema</span>
  </div>

  <div class="seat">
  <b> <h3>Area</h3></b>
    <span>1</span>
  </div>
</div>
</ul>

</td>
<ul class="two-column">
<td>
  <div class="title">
    <b><h2> </h2></b>
  </div>
<div class="menu2">
  <div class="name">
    <b> <h3>Modo</h3></b>
      <span>En tiempo fijo</span>
    </div>


    <div class="name">
      <b> <h3>Ciclo</h3> </b>
        <span>4 (88)</span>
      </div>
    </div>
    </td>
</ul>

</tr>

<iframe width="280" height="180" src="https://www.youtube.com/embed/rf5fRuBcrJA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</nb-card-body>


