<h1>Monitoreo</h1>



<div class="contenedor">
  <div class="row">
    <div class="col-sm-8">
      <div class="mapa">
        <ngx-map></ngx-map>
      </div>
    </div>


    <div class="col-sm-4">






      <nb-card style="height: 130px; ">

        <ngx-crossroad></ngx-crossroad>

      </nb-card>


      <nb-card style="height: 130px;">

        <ngx-crossroad></ngx-crossroad>

      </nb-card>


      <nb-card style="height: 130px;">

        <ngx-crossroad></ngx-crossroad>

      </nb-card>

      <nb-card style="height: 130px;">

        <ngx-crossroad></ngx-crossroad>

      </nb-card>

      <nb-card style="height: 130px;">

        <ngx-crossroad></ngx-crossroad>

      </nb-card>


    </div>
